.Recipe {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.Recipe__name {
	padding: .5rem 1rem;
	width: 100%;
	text-align: left;
	cursor: pointer;
	display: block;
	font-family: Gabriela, serif;
	font-size: 1.5rem;
	background-color: #fff;
	border: none;
	outline: none;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, .1);
}

.Recipe__name:hover {
	color: #2f2d23;
	background-color: #fffff4;
}

.Recipe__name:focus {
	background-color: #fffdf7;
	outline: 2px solid rgba(255,249,182, 0.5);
}

.Recipe__toggle-box {
	margin-bottom: 1rem;
}

.Recipe__add, .Recipe__rename, .Recipe__delete {
	display: inline-block;
}

.Recipe__input-rename {
	padding: .5rem;
	font-size: 2rem;
	width: 100%;
	position: relative;
	z-index: 10;
	box-sizing: border-box;
	border: none;
	box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .1);
}

.Recipe__input-rename:focus {
	outline: 2px solid rgba(240, 230, 0, .4);
}

.Recipe__add {
	width: 40%;
}

.Recipe__rename, .Recipe__delete {
	width: 30%;
}

.Recipe__rename > .Button {
	background-color: #fdfdfc
}

.Recipe__delete > .Button {
	background-color: #fff4f4
}

@media(max-width: 600px) {
	.Recipe__add {
		width: 100%;
	}

	.Recipe__rename, .Recipe__delete {
		width: 50%;
	}
	.Recipe__rename > .Button, .Recipe__delete > .Button {
		font-size: 1rem;
	}
}
