.Recipe {
	margin-bottom: 2px;
}

.Recipe__name {
	padding: .5rem 1rem;
	width: 100%;
	text-align: left;
	cursor: pointer;
	display: block;
	font-family: Gabriela, serif;
	font-size: 1.5rem;
	background-color: #fff;
	border: none;
	outline: none;
}

.Recipe__name:hover {
	color: #2f2d23;
	background-color: #fffff4;
}

.Recipe__name:focus {
	background-color: #fffdf7;
}