.Ingr {
	display: table;
	list-style-type: none;
	border-bottom: 1px dashed rgba(0, 0, 0, .1);
	cursor: text;
}

.Ingr_editabe {
	background-color: rgba(255, 229, 0, .1);
	outline: 5px solid rgba(255, 255, 0, .1);
}

.Ingr__input-container {
	display: table-cell;
	width: 100%;
}

.Ingr__input {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1rem;
	box-sizing: border-box;
	width: 100%;
	background: none;
	border: none;
}

.Ingr__input:focus {
	outline:none;
	background-color: rgba(255, 229, 0, .1);
	outline: 5px solid rgba(255, 255, 0, .1);
}

.Ingr__delete {
	display: table-cell;
	width: 3.5rem;
	height: 100%;
}